nextflow.enable.dsl = 2
resume = true
trace.enabled = true

env {
    NF_SCRIPTS = "${projectDir}/bin"
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

workflow {
    output {
        mode = "copy"
    }
}

params {
    // ------------------------ resources ------------------------
    species_config = "/workplace/database/database_species_taxid_config.txt"
    information_config = "/workplace/database/database_information_config.txt"

    // ------------------------- 软件路径 -------------------------
    feature_counts = "/workplace/pipeline/software/featureCounts"
    r = "/workplace/shuixin/R/4.4.1/bin/Rscript"
    fastq_screen = "/workplace/software/fastq_screen_v0.13.0/fastq_screen"

    // ------------------------- 输入参数 -------------------------
    adapter = "I"
    sample_sheet = "${projectDir}/samplesheet.csv"
    outdir = "results"

    // ------------------------- TSS 暂停区域 -------------------------
    tss_upstream   = 50       // TSS 上游窗口 (bp)
    tss_downstream = 300      // TSS 下游窗口 (bp)
    gene_body_offset = 301    // gene body 起始偏移 (bp)

    // ------------------------- Metagene -------------------------
    tss_metagene_window = 3000
    tes_metagene_window = 3000

    // ------------------------- BigWig -------------------------
    effective_genome_size = 2913022398  // hg38
}
